body {
  margin: 0;
  box-sizing: border-box;
  background-color: #1c1c1c;
  color: #ffffff;
}

.container {
  margin: 50px auto 0;
  /* border: 1px solid black; */
  height: 550px;
  width: 550px;
  background-color: #1f2937;
  padding: 115px 52px;
  box-sizing: border-box;
}

.heading-primary {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -2.5%;
  margin-bottom: 0;
}

.green-heading-span {
  display: block;
  color: #10b981;
}

.description {
  font-family: "Inter", sans-serif;
  color: #d5d4d8;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.btn {
  /* display: block; */
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  background-color: #10b981;
  border: none;
  border-radius: 6px;
  padding: 9px 18px;
}

.btn:hover {
  background-color: #34c091;
  cursor: pointer;
}

.separator {
  border-bottom: 1px solid #2f3e53;
  margin: 35px 0;
}
