body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 600px;
  height: 400px;
  margin: 100px auto 0;
  border: 2px solid black;
  color: #eeeeee;
  background-color: #1b244a;
}

.team {
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}
