@font-face {
  font-family: "Cursed Timer";
  src: url("CursedTimerUlil-Aznm.ttf");
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 400px;
  margin: 100px auto 0;
  color: #eeeeee;
  background-color: #1b244a;
  align-items: center;
  gap: 130px;
}

.team {
  /* border: 2px solid white; */
  width: 25%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  margin: -8px;
}

.score {
  color: #f94f6d;
  font-size: 90px;
  font-family: "Cursed Timer";
  background-color: #080001;
  margin: 0;
  padding-top: 18px;
  align-self: stretch;
  text-align: center;
}

.btns {
  display: flex;
  gap: 8px;
}

button {
  color: #9aabd8;
  font-size: 18px;
  font-family: "Cursed Timer";
  background-color: #1b244a;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  padding-top: 4px;
}
